
.checkbox.style-h {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox.style-h input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox.style-h input:checked ~ .checkbox__checkmark {
    background-color: #eb8f8f;
  }
  .checkbox.style-h input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
    top: -3px;
  }
  .checkbox.style-h input:checked ~ .checkbox__body {
    background-position: 0 0;
    color: #fff;
  }
  .checkbox.style-h:hover input ~ .checkbox__checkmark {
    background-color: #ffcdcd;
  }
  .checkbox.style-h:hover input:checked ~ .checkbox__checkmark {
    background-color: #eca0a0;
  }
  .checkbox.style-h:hover .checkbox__body {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  .checkbox.style-h .checkbox__checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    height: 22px;
    width: 22px;
    background-color: #ffcdcd;
    transition: background-color 0.25s ease;
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1), inset -2px -2px 4px rgba(255,255,255,0.4);
  }
  .checkbox.style-h .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: -15px;
    width: 10px;
    height: 20px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease, top 0.25s ease;
  }
  .checkbox.style-h .checkbox__body {
    display: flex;
    color: #333;
    line-height: 1.4;
    font-size: 20px;
    text-align: center;
    transition: font-weight 0.25s ease;
    color: #333;
    background: linear-gradient(45deg, rgba(233, 50, 56, 0.802) 0%, #ffcdcd 50%, #ffcdcd 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    padding: 15px;
    padding-left: 52px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.25s ease, background 0.8s ease, color 0.25s ease;
  }
  