.course-header {
    margin-top: 20px;
}

.course-title {
    font-size: 40px;
    font-weight: 200;
}

.course-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navigation {
    background-color: white;
    width: 500px;
    border-radius: 2px;
    overflow: hidden;
    height: max-content;
    box-shadow: 4px 4px 25px 9px rgba(34, 60, 80, 0.2);
}

.navigation-header {
    font-size: 20px;
    background-image: linear-gradient(90deg, rgba(213, 69, 75, 0.7) 0%, rgba(213, 100, 70, 0.5) 100%);
    padding: 15px;
    color: white;
}

.navigation-content {
    margin-top: 10px;
    padding: 20px;
}

.navigation-chapter {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.subchapter-container {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    /* start with max-height 0 */
}

.expanded {
    max-height: 500px;
    /* replace this with an appropriate value */
    /* You may need to adjust this value based on the content size */
}

.navigation-subchapter {
    padding: 10px;
    padding-left: 60px;
    border-bottom: 1px solid #d9d9d9;
    transition: all 0.2s ease-out;
    cursor: pointer;
    min-height: max-content;
}

.learn-container {
    border-radius: 2px;
    background-color: white;
    width: 100%;
    height: max-content;
    overflow: hidden;
    box-shadow: 4px 4px 25px 9px rgba(34, 60, 80, 0.2);

}

.learn-header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(213, 100, 70, 0.5) 0%, rgba(213, 69, 75, 0.7) 100%);
    padding: auto;
    height: 66px;
    align-items: center;
}


.learn-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.learn-title {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.learn-content {
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1; /* Ensure the default state is fully visible */
    transition: opacity 0.4s ease-in-out; /* Adjust the duration to match the fade-out time */
    min-height: 400px;
}

.covered {
    opacity: 0;
}

.learn-info {
    padding: 20px;
    padding-top: 0;
    padding-left: 40px;
}

.learn-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.test-question {
    font-size: 30px;
    max-width: 80%;
}

.test {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #d9d9d9;
}

.compare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.compare-set {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compare-signs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compare-icons{
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 36px
}

#selected {
    background-color: #66e882;
}
    
.test-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compare-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, rgba(233, 50, 56, 0.802) 0%, #ffcdcd 50%, #ffcdcd 50%, #ffffff 100%);
}

.sign {
    background: none;
    box-shadow: none;
    cursor: default;
}

.static {
    background: linear-gradient(45deg, rgba(255, 175, 178, 0.802) 0%, #ffcdcd 50%, #ffcdcd 50%, #ffffff 100%);
    cursor: default;
}

.test-option:hover {
    background-color: rgb(255, 206, 189);
}

.test-submit {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    border-radius: 5px;
}

.test-submit-button {
    width: 20%;
    min-width: max-content;
    height: 40px;
    border: none;
    color: white;
    background-color: #e88080;
    border-radius: 2px;
    cursor: pointer;
}

.test-submit-button:hover {
    background-color: #e88080;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}

.previous-button-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
}

.pagination-button {
    font-size: 16   px;
    font-weight: bold;
    color:rgba(213, 69, 75, 0.7);
    cursor: pointer;
}

.pagination-button:hover {
    color:rgba(213, 100, 70, 0.5)
}